language: cpp
env:
  - NODE_VERSION="node"
  - NODE_VERSION="4"
compiler:
  - clang-3.6
addons:
  apt:
    sources:
      - llvm-toolchain-precise-3.6
      - ubuntu-toolchain-r-test
    packages:
      - clang-3.6
      - g++-4.8
before_install:
  - git clone https://github.com/creationix/nvm.git /tmp/.nvm;
    source /tmp/.nvm/nvm.sh;
    nvm install $NODE_VERSION;
    nvm use --delete-prefix $NODE_VERSION;
os:
  - linux
  - osx
install:
  - npm install
script:
  - npm run style && npm test
